body {
    font-family: 'Apple SD Gothic Neo', sans-serif;
    background: #faf7f5;
    padding: 20px;
}

h1 {
    color: #e25580;
}

.card {
    background: white;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.add-btn {
    background: #e25580;
    color: white;
    padding: 10px;
    border-radius: 12px;
    border: none;
}

button {
    margin-top: 5px;
    padding: 6px 10px;
}

.delete {
    background: #ffdfe0;
    color: #802020;
}
